.card {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    -webkit-box-pack: start;
    justify-content: flex-start;
    width: 1070px;
}
.card-section {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    border-radius: 28px;
    box-shadow: rgba(0, 0, 0, 0.06) 0px 0px 6px 0px;
    background-color: rgb(255, 255, 255);
}
.card-section-title {
    display: flex;
    -webkit-box-pack: justify;
    justify-content: space-between;
    width: 100%;
    min-height: 65px;
    padding: 15px 32px 17px;
    border-radius: 28px 28px 0px 0px;
    background-color: rgb(250, 250, 250);
}
.title {
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    width: 100%;
    min-height: 33px;
    white-space: nowrap;
    font-size: 1.375rem;
    font-weight: bold;
    letter-spacing: -0.0688rem;
    color: rgb(32, 32, 32);
}
.title-n {
    position: relative;
    bottom: 0px;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    align-items: center;
    gap: 6px;
    min-height: 36px;
    height: 36px;
    padding: 7px 17.1px 9px 21.1px;
    border-radius: 18px;
    background-color: rgb(234, 234, 234);
    white-space: nowrap;
    transition: all 0.2s ease-in-out 0s;
}
.read-text {
    min-height: 20px;
    font-size: 0.875rem;
    letter-spacing: -0.0437rem;
    color: rgb(80, 80, 80);
    transition: all 0.2s ease-in-out 0s;
}
.read-text-img {
    width: 5.9px;
    height: 10px;
    user-select: none;
}
