body {
    padding-top: 160px;
    overflow-x: hidden;
}
.header_box {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 998;
}
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 70px;
    height: 70px;
}
.header1 {
    padding: 0 40px;
    font-size: 18px;
    color: black;
    text-decoration-line: none;
}
.header1:hover {
    color: #01376a;
    font-weight: 700;
}
.header-last {
    text-align: center;
    font-size: 13px;
}
.membership {
    padding-right: 10px;
    color: black;
    text-decoration-line: none;
}
.membership:hover {
    color: #01376a;
    font-weight: bold;
}
.log {
    color: black;
    text-decoration-line: none;
}
.log:hover {
    color: #01376a;
    font-weight: bold;
}
.logout {
    color: black;
    text-decoration-line: none;
}
.logout:hover {
    color: #01376a;
    font-weight: bold;
}

body {
    overflow: scroll;
    height: auto;
}
.header1 {
    width: auto;
    z-index: 998;
}
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.header1 {
    padding: 0 40px;
}
.header-last {
    text-align: center;
    padding: 35px 0;
}

/*아코디언*/
ul {
    list-style-type: none;
}
.li1 {
    margin: 10px 0 5px 0;
    text-decoration: none;
    list-style-type: none;
}
.li2 {
    margin-bottom: 5px;
    text-decoration: none;
    list-style-type: none;
}
.li3 {
    list-style-type: none;
}
/*body 시작*/
.body-line {
    width: auto;
    height: 100px;
}
.body1 {
    padding-top: 50px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.body-a {
    padding-top: 80px;
    position: fixed;
    left: 50px;
}
.body-c {
    width: 600px;
}
.aside {
    width: 300px;
    height: 500px;
    border-radius: 10px;
    text-align: center;
}
.aside-header1 {
    margin-bottom: 50px;
    margin-top: 10px;
}
.aside-cont {
    display: flex;
}
.content {
    width: 600px;
}
.nav {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 100px 0;
}
.pic-cont {
    width: 350px;
    height: 450px;
}
.pic {
    width: 350px;
    height: 300px;
}
.title {
    font-weight: bold;
    font-size: 20px;
}
.text {
    font-size: 12px;
}
.body2 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.line2 {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}

/*footer 설정*/
.accordion1 {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}

.accordion2 {
    display: flex;
    justify-content: space-between;
    width: 40vw;
}
.footer {
    display: flex;
    background-color: rgb(245, 243, 243);
    height: 35vw;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
}
.li {
    width: 100px;
    padding: 10px;
    list-style-type: none;
}

.li5:hover {
    font-weight: bolder;
}
.li5 {
    padding-bottom: 5px;
    list-style-type: none;
}
.li4 {
    font-weight: bold;
    font-size: 20px;
    list-style-type: none;
}
.ul3 {
    padding-left: 1px;
}
.ul4 {
    padding-left: 25px;
}
.accordion2 {
    width: 130px;
}

@media (min-width: 1101px) and (max-width: 1450px) {
    body {
        padding-top: 0px;
    }
    .header {
        float: fixed;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .header-last {
        padding: 10px 0 10px 0;
    }
    .header-midle {
        padding: 1px;
    }
    .body1 .body2 {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .body-a {
        padding-top: 0;
        left: 0;
        position: relative;
    }
    .aside {
        height: 0;
        width: 100vw;
        border: 0;
        text-align: start;
        border-radius: 0;
    }
    .body1 {
        padding-top: 200px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .footer-cont {
        margin-bottom: 5px;
        padding-top: 5vw;
    }
    .accordion1 {
        width: 70vw;
    }
}

@media (min-width: 801px) and (max-width: 1100px) {
    /*header 부분*/
    .header {
        float: fixed;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .header-last {
        padding: 10px 0 10px 0;
    }
    .header-midle {
        padding: 1px;
    }
    /*body부분*/
    body {
        padding-top: 0px;
    }
    .body-a {
        padding-top: 0;
        left: 0;
        position: relative;
    }
    .aside {
        height: 0;
        width: 100vw;
        border: 0;
        text-align: start;
        border-radius: 0;
    }
    .body1 {
        padding-top: 200px;
    }
    .body1,
    .body2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
    .pic-cont {
        width: 50vw;
        height: auto;
    }
    .pic {
        width: 50vw;
        height: 50vw;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .footer-cont {
        margin-bottom: 25px;
        padding-top: 5vw;
    }
    .accordion1 {
        width: 70vw;
    }
}

@media (min-width: 416px) and (max-width: 800px) {
    /*header 부분*/
    .header {
        float: fixed;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .header-midle {
        padding: 1px;
    }

    .header1 {
        padding: 0;
    }
    .header-blg {
        padding: 0 20px;
    }
    .header-last {
        padding: 0px;
    }

    /*body 부분*/
    body {
        padding-top: 0px;
    }
    .body-a {
        padding-top: 0;
        left: 0;
        position: relative;
    }
    .aside {
        height: 0;
        width: 100vw;
        border: 0;
        text-align: start;
        border-radius: 0;
    }
    .body1 {
        padding-top: 200px;
    }
    .body1,
    .body2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .pic-cont {
        width: 50vw;
        height: auto;
    }
    .pic {
        width: 50vw;
        height: 40vw;
    }
    .ul3,
    .ul2 {
        font-size: 10px;
    }
    .limap,
    .liblo {
        margin: 0 5vw;
    }
    .li {
        padding: 0;
        width: auto;
    }
    .li4 {
        font-size: 15px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .footer-cont {
        margin-bottom: 25px;
        padding-top: 5vw;
    }
    .accordion1 {
        width: 70vw;
    }
}

@media (max-width: 416px) {
    /*header 부분*/
    .header {
        float: fixed;
        flex-direction: column;
        height: auto;
        align-items: center;
    }

    .header-midle {
        padding: 1px;
    }

    .header1 {
        padding: 0;
    }
    .header-blg {
        padding: 0 20px;
    }
    .header-last {
        padding: 0px;
    }

    /*body 부분*/
    body {
        padding-top: 0px;
    }
    .body-a {
        padding-top: 0;
        left: 0;
        position: relative;
    }
    .aside {
        height: 0;
        width: 100vw;
        border: 0;
        text-align: start;
        border-radius: 0;
    }
    .body1 {
        padding-top: 200px;
    }
    .body1,
    .body2 {
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }

    .pic-cont {
        width: 50vw;
        height: auto;
    }
    .pic {
        width: 50vw;
        height: 40vw;
    }

    /*footer 부분*/
    .li {
        padding: 0;
        width: auto;
    }
    .limap,
    .liblo {
        margin: 0 5vw;
    }
    .ul3,
    .ul2 {
        font-size: 10px;
    }
    .li4 {
        font-size: 10px;
    }
    .footer {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .footer-cont {
        margin-bottom: 25px;
        padding: 0;
    }
    .accordion1 {
        width: 70vw;
    }
}
