.head {
    /* border: 1px solid black; */
    width: 100%;
    height: 100px;
    background-color: beige;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.menu {
    width: 45px;
    height: 10 px;
    /* border: 1px solid black; */
    background-color: skyblue;
}
.menu1 {
    margin-left: 50px;
}
.menu3 {
    margin-right: 50px;
}
