body {
    background-color: #fafafa;
    margin: 10px;
    color: #262626;
    box-sizing: border-box;
}
.login_wrapper {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 400px;
    height: 450px;
    top: 40%;
    left: 50%;
    margin: -175px 0px 0px -190px;
    background-color: white;
    border: 1px solid #dbdbdb;
    box-shadow: 5px 5px 5px rgb(199, 196, 196);
}

.login_logo {
    margin: 30px 0 30px 0;
    color: #262626;
    font-family: 'Gowun Dodum', cursive;
    font-weight: 400;
    font-size: 40px;
}
.login_form {
    display: flex;
    flex-direction: column;
    width: 280px;
    margin-top: 10px;
    justify-content: center;
    font-family: 'Gothic A1';
}
.login_text {
    width: 100%;
    height: 40px;
    margin: 3px 0 8px 0;
    padding: 0 10px 0 10px;
    background-color: #fafafa;
    border: 1px solid #dbdbdb;
    border-radius: 3px;
}
.login_text:focus {
    outline: 1px solid #a8a8a8;
}
.login_text::placeholder {
    color: #8e8e8e;
}
.login_text::value {
    color: #262626;
}
.login_btn {
    width: 100px;
    height: 40px;
    margin: 10px 10px 5px 10px;
    color: rgba(48, 47, 47, 0.895);
    background-color: #fffed0;
    border-radius: 5px;
    border-style: none;
    font-size: 13px;
    font-weight: bold;
    cursor: pointer;
    padding: 5px;
}
.login_btn:hover {
    color: rgba(48, 47, 47, 0.895);
    background-color: #fffda1;
}
.login_bottom {
    color: #01376a;
    font-size: 13px;
    font-family: 'Gothic A1';
    margin-bottom: 15px;
}
.login_bottom:hover {
    font-weight: bold;
}
.btn {
    flex-direction: column;
}
