* {
    margin: 0;
    padding: 0;
}
.header_box {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 998;
}
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 70px;
    height: 70px;
}
.header1 {
    padding: 0 40px;
    font-size: 18px;
    color: black;
    text-decoration-line: none;
}
.header1:hover {
    color: #01376a;
    font-weight: 700;
}
.header-last {
    text-align: center;
    font-size: 13px;
}
.membership {
    padding-right: 10px;
    color: black;
    text-decoration-line: none;
}
.membership:hover {
    color: #01376a;
    font-weight: bold;
}
.log {
    color: black;
    text-decoration-line: none;
}
.log:hover {
    color: #01376a;
    font-weight: bold;
}
body {
    box-sizing: border-box;
    padding-top: 160px;
}
.body-pic {
    display: flex;
    justify-content: center;
    background-color: rgb(167, 139, 119);
    height: 500px;
}
.main-pic {
    width: auto;
    height: 400px;
    display: block;
    padding-top: 50px;
}

.body1 {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    padding: 100px 0;
}
.body-circle {
    border-radius: 20px;
}
.body-view {
    display: block;
}
.img-map {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.img-blog {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.img-mypage {
    width: 400px;
    height: 300px;
    border-radius: 20px;
}
.line {
    height: 3rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
}
.bottom {
    padding: 60px 0 10px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
#choice {
    border-radius: 20px;
}
.choice-pic {
    width: 350px;
    height: 200px;
    border-radius: 20px;
}
.body-box {
    height: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.box {
    padding: 40px;
    text-align: center;
}
.bottom-box {
    display: flex;
    flex-direction: column;
    align-items: center;
}
/* back 버튼 CSS 디자인 작업 0118 20:21 */
.back_button {
    position: relative;
    right: 10px;
    width: 70px;
    height: 70px;
    border: none;
    background-color: white;
}
.next_button {
    position: relative;
    left: 10px;
    width: 70px;
    height: 70px;
    border: none;
    background-color: white;
}
.line2 {
    height: 1rem;
    background-color: rgba(0, 0, 0, 0.1);
    border: solid rgba(0, 0, 0, 0.15);
    border-width: 1px 0;
    box-shadow: inset 0 0.5em 1.5em rgba(0, 0, 0, 0.1), inset 0 0.125em 0.5em rgba(0, 0, 0, 0.15);
    margin-bottom: 50px;
}
.li1 {
    padding: 5px 0;
}
.li2 {
    padding-bottom: 5px;
}
.footer {
    background-color: rgb(245, 243, 243);
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.li {
    width: 100px;
    padding: 10px;
}

@media (max-width: 1299px) {
    .header {
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .header1 {
        width: auto;
    }

    .header-midle {
        padding: 5px 0;
    }

    .body1,
    .bottom {
        flex-direction: column;
        padding: 50px 0;
        align-items: center;
    }

    .img-map,
    .img-blog,
    .img-mypage {
        display: block;
        width: 400px;
        height: 300px;
        justify-content: center;
    }

    .choice-pic {
        display: block;
        width: 300px;
        height: 200px;
        justify-content: center;
    }
    .box {
        height: 100px;
        display: flex;
        align-items: center;
    }
    .back_button {
        position: relative;
        right: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    }
    .next_button {
        position: relative;
        left: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    }
}

@media (max-width: 650px) {
    .header {
        flex-direction: column;
        height: auto;
    }
    .body-pic {
        display: flex;
        justify-content: center;
        background-color: rgb(167, 139, 119);
        height: 300px;
    }
    .main-pic {
        height: 200px;
    }
    .header {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .body-box {
        height: 300px;
        width: 300px;
    }
    .body-circle,
    .img-blog,
    .img-map,
    .img-mypage {
        height: 200px;
        width: 300px;
    }
    .back_button {
        position: relative;
        right: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    }
    .next_button {
        position: relative;
        left: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    }
}

@media (max-width: 471px) {
    .header-blg {
        padding: 0 40px;
    }
    .body-pic {
        height: 250px;
    }
    .header1 {
        padding: 0;
    }
    .footer {
        height: 300px;
    }
    .footer-cont {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    /* .back_button {
        position: relative;
        right: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    }
    .next_button {
        position: relative;
        left: 10px;
        width: 70px;
        height: 70px;
        border: none;
        background-color: white;
    } */
}
