* {
    margin: 0;
    padding: 0;
}
.header1 {
    width: auto;
}
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 50px;
    height: 50px;
}
.header1 {
    padding: 0 40px;
}
.header-last {
    text-align: center;
    padding: 35px 0;
}

.body1 {
    flex-direction: row;
    justify-content: space-around;
    display: flex;
    padding-top: 100px;
}
.body-circle {
    width: 400px;
    height: 300px;
}
.body-view {
    display: block;
}
.footer {
    background-color: rgb(245, 243, 243);
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.li {
    width: 100px;
}
