* {
    margin: 0;
    padding: 0;
}
body {
    overflow: scroll;
}
b .header_box {
    width: 100vw;
    height: 100px;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 998;
}
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.header-last {
    text-align: center;
    padding: 35px 0;
}
.foodinco {
    width: 50px;
    height: 50px;
}
.header1 {
    padding: 0 40px;
    font-size: 18px;
    color: black;
    text-decoration-line: none;
}
.header1:hover {
    color: #01376a;
    font-weight: 700;
}

.membership {
    padding-right: 10px;
    color: black;
    text-decoration-line: none;
}
.membership:hover {
    color: #01376a;
    font-weight: bold;
}
.log {
    color: black;
    text-decoration-line: none;
}
.log:hover {
    color: #01376a;
    font-weight: bold;
}

.body {
    display: flex;
    flex-direction: row;
    /* justify-content: space-between; */
    position: relative;
    top: 80px;
}
.aside {
    cursor: pointer;
    width: 300px;
    height: 500px;
    border-radius: 10px;
    margin-left: 20px;
    text-align: center;
}
.aside-header1 {
    margin-bottom: 50px;
    margin-top: 10px;
}
.aside-cont {
    display: flex;
}
.li3 {
    list-style-type: none;
}
.li2 {
    list-style-type: none;
}

.body-b {
    display: flex;
    flex-direction: column;
    position: relative;
    left: 90px;
}
.row {
    display: flex;
    flex-direction: row;
}
#map {
    width: 950px;
    height: 570px;
    position: absolute;
    top: 90px;
}
.col {
    width: 300px;
    display: flex;
    flex-direction: row;
}
.col .search_button {
    width: 100px;
    border-radius: 10%;
}

.footer {
    position: relative;
    top: 470px;
    background-color: rgb(245, 243, 243);
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.li {
    width: 100px;
    padding: 10px;
}
