/* 홈페이지 header부분 css 디자인 */
* {
    margin: 0;
    padding: 0;
}
body {
    overflow: scroll;
    height: 100px;
}
.header1 {
    width: auto;
    background-color: bisque;
    z-index: 998;
    padding: 0 40px;
}
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 100px;
    height: 80px;
    padding: 0 5px;
}
/* .header1 {
    padding: 0 40px;
} */
.header-last {
    text-align: center;
    padding: 35px 0;
}

.li1 {
    margin: 10px 0 5px 0;
    text-decoration: none;
}
.li2 {
    margin-bottom: 5px;
    text-decoration: none;
}
.footer {
    background-color: rgb(245, 243, 243);
    /* footer 부분 position 속성 추가해서 top : 100 */
    position: relative;
    top: 100px;
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.li {
    width: 100px;
    padding: 10px;
}
.body-line {
    width: auto;
    height: 100px;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.body-c {
    width: 300px;
}
.aside {
    position: relative;
    top: 50px;
    width: 300px;
    height: 500px;
    border: 2px solid;
    border-radius: 10px;
    margin-left: 50px;
    text-align: center;
}
.aside-header1 {
    margin-bottom: 50px;
    margin-top: 10px;
}
.aside-cont {
    display: flex;
}
/* li 태그 강남구 서초구 성동구 .search 클래스 --> cursor: pointer 속성 추가 0116 09:45 */
.search {
    cursor: pointer;
}
.li1 {
    cursor: pointer;
    margin: 10px 0 5px 0;
    text-decoration: none;
}
.li2 {
    cursor: pointer;
    margin-bottom: 5px;
    text-decoration: none;
}
.body {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

/* search_distrct === 사용자 입력폼에 버튼 요소 집어넣기 css 0116 20:34 */
.search_button {
    position: absolute;
    background-color: purple;
    width: 300px;
    height: 35px;
    top: 0px;
    bottom: 0;
    right: 75px;
    margin: auto 0;
    border-radius: 3px;
}

/* 지도에 생성되는 마커 및 커스텀 오버레이 css 디자인 */
.wrap {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 288px;
    height: 132px;
    margin-left: -144px;
    text-align: left;
    overflow: hidden;
    font-size: 12px;
    font-family: 'Malgun Gothic', dotum, '돋움', sans-serif;
    line-height: 1.5;
}
.wrap * {
    padding: 0;
    margin: 0;
}
.wrap .info {
    width: 286px;
    height: 120px;
    border-radius: 5px;
    border-bottom: 2px solid #ccc;
    border-right: 1px solid #ccc;
    overflow: hidden;
    background: #fff;
}
.wrap .info:nth-child(1) {
    border: 0;
    box-shadow: 0px 1px 2px #888;
}
.info .title {
    padding: 5px 0 0 10px;
    height: 30px;
    background: #eee;
    border-bottom: 1px solid #ddd;
    font-size: 18px;
    font-weight: bold;
}
.info .close {
    position: absolute;
    top: 10px;
    right: 10px;
    color: #888;
    width: 17px;
    height: 17px;
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/overlay_close.png');
}
.info .close:hover {
    cursor: pointer;
}
.info .body {
    position: relative;
    overflow: hidden;
}
.info .desc {
    position: relative;
    margin: 13px 0 0 90px;
    height: 75px;
}
.desc .ellipsis {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.desc .jibun {
    font-size: 11px;
    color: #888;
    margin-top: -2px;
}
.info .img {
    position: absolute;
    top: 6px;
    left: 5px;
    width: 73px;
    height: 71px;
    border: 1px solid #ddd;
    color: #888;
    overflow: hidden;
}
.info:after {
    content: '';
    position: absolute;
    margin-left: -12px;
    left: 50%;
    bottom: 0;
    width: 22px;
    height: 12px;
    /* 이미지 뷰 설정화면 */
    background: url('https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/vertex_white.png');
}
.info .link {
    color: #5085bb;
}
