/* header */
body {
    padding-top: 120px;
    height: auto;
    overflow: scroll;
    height: auto;
}
* {
    margin: 0;
    padding: 0;
}
.header_box {
    width: 100vw;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: white;
    z-index: 998;
}
.header {
    display: flex;
    height: 80px;
    justify-content: space-between;
    margin: 30px;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 70px;
    height: 70px;
}
.header1 {
    padding: 0 40px;
    font-size: 18px;
    color: black;
    text-decoration-line: none;
}
.header1:hover {
    color: #01376a;
    font-weight: 700;
}
.header-last {
    text-align: center;
    padding: 35px 30px 35px 0;
    font-size: 13px;
}
.membership {
    padding-right: 10px;
    color: black;
    text-decoration-line: none;
}
.membership:hover {
    color: #01376a;
    font-weight: bold;
}
.log {
    color: black;
    text-decoration-line: none;
}
.log:hover {
    color: #01376a;
    font-weight: bold;
}
.header1 {
    width: auto;
    z-index: 998;
}
.header {
    display: flex;
    height: 120px;
    justify-content: space-between;
    align-items: center;
}
.header-midle {
    display: flex;
    padding: 35px 0;
    text-align: center;
}
.foodinco {
    width: 100px;
    height: 80px;
    padding: 0 5px;
}
.header1 {
    padding: 0 40px;
}
.header-last {
    text-align: center;
    padding: 35px 0;
}
/* footer */
.footer {
    background-color: rgb(245, 243, 243);
    height: 200px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.footer-cont {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 50px;
}
.li {
    width: 100px;
    padding: 10px;
}
/* 내페이지 목록  */
.list-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 1000px;
    height: auto;
    margin: 50px auto;
    padding: 57px 57px 57px 57px;
    background-color: white;
    border: 1px solid #dbdbdb;
    /* box-shadow: 5px 5px 5px rgb(199, 196, 196); */
}
.list {
    margin-bottom: 43px;
}
.num {
    font-size: 22px;
    color: #211e1e;
    font-family: 'Gowun Dodum', cursive;
    font-weight: 400;
}
.list-box {
    width: 800px;
    height: auto;
    display: flex;
    justify-content: space-around;
    border: 1px solid #dbdbdb;
    background-color: #f9f3f3d1;
    box-shadow: 5px 5px 5px rgb(199, 196, 196);
}
.img-box {
    margin: 10px;
}
.text-box {
    color: gray;
    font-size: 14px;
    font-family: 'Noto Sans Korean';
    font-weight: 300;
    margin: auto;
}
.list-title {
    color: #211e1e;
    font-family: 'Gowun Dodum', cursive;
    font-weight: 400;
    font-size: 37px;
}
.blog-url {
    text-decoration-line: none;
}
.blog-url:hover {
    color: #01376a;
}

.blog-image {
    width: 160px;
    height: 160px;
}
.blog-title {
    font-family: 'Noto Sans Korean';
    font-weight: 300;
    font-size: 27px;
    color: rgb(70, 70, 70);
}
.blog-restaurant-name {
    font-size: 17px;
    font-weight: 500;
    color: rgb(70, 70, 70);
}
.blog-restaurant-address {
    font-size: 17px;
    font-weight: 500;
    color: rgb(70, 70, 70);
}
.reset-button {
    width: 100%;
    text-align: right;
    margin-right: 84px;
}
#reset-button {
    border: none;
    padding: 15px 30px;
    /* border-radius: 15px; */
    /* box-shadow: 0 15px 35px rgba(0, 0, 0, 0.2); */
    text-decoration: none;
    font-weight: 600;
    transition: 0.25s;
    background-color: #f9f3f3d1;
    color: grey;
}
#reset-button-outline {
    border: 3px solid aliceblue;
    color: grey;
}
#reset-button:hover {
    box-shadow: 2px 2px 2px 2px rgb(236, 232, 232);
}

@media (max-width: 1450px) {
    .header {
        float: fixed;
        flex-direction: column;
        height: auto;
        align-items: center;
    }
    .header-last {
        padding: 10px 0 10px 0;
    }
    .header-midle {
        padding: 1px;
    }
    .list-wrapper {
        padding-top: 50px;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: center;
    }
}
